apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ocp-dog.fullname" . }}-config
  labels:
    app: {{ .Values.app.name }}
    tier: shared
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
    heritage: Helm
{{- $ns := default .Values.app.namespace .Release.Namespace }}
{{- $fullname := include "ocp-dog.fullname" . }}
{{- $frontendSvcDefault := printf "http://%s-frontend-api.%s.svc.cluster.local:%d" $fullname $ns (int .Values.service.frontendApi.port) }}
{{- $backendSvcDefault := printf "http://%s-backend-api.%s.svc.cluster.local:%d/dog" $fullname $ns (int .Values.service.backendApi.port) }}
{{- $databaseHostDefault := printf "%s-database.%s.svc.cluster.local" $fullname $ns }}
data:
  FRONTEND_API_URL: {{ default $frontendSvcDefault .Values.config.frontendApiUrl | quote }}
  BACKEND_API_URL: {{ default $backendSvcDefault .Values.config.backendApiUrl | quote }}
  DB_HOST: {{ default $databaseHostDefault .Values.config.databaseHost | quote }}
  DB_NAME: {{ .Values.config.databaseName | quote }}
