apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ocp-dog.fullname" . }}-config
  labels:
    app: {{ .Values.app.name }}
    tier: shared
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
    heritage: Helm
data:
  FRONTEND_API_URL: {{ .Values.config.frontendApiUrl | quote }}
  BACKEND_API_URL: {{ .Values.config.backendApiUrl | quote }}
  DB_HOST: {{ .Values.config.databaseHost | quote }}
  DB_NAME: {{ .Values.config.databaseName | quote }}
