apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "ocp-dog.fullname" . }}-db
  labels:
    {{- include "ocp-dog.labels" . | nindent 4 }}
    tier: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.pvc.size }}
  storageClassName: {{ .Values.pvc.storageClassName }}
